 .section {
  background-color:#F8F9FA;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.first{
  max-width: 48rem;
  margin: auto;
}

.second{
  justify-content: space-between; 
  display: flex; 
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
 /* Adjust the color code to match the desired shade of gray */
  